@media (max-width: 1380px) {
    .footer__header {
        font-size: 40px;
    }

    .footer-section__right {
        margin-right: 35px;
        margin-top: 123px;
    }

    .footer-section__descr {
        margin-left: 15px;
        font-size: 14px;
    }

    .section-question-item {
        padding: 25px 0;
    }

    .section-question-title {
        font-size: 16px;
    }

    .section-how-work__left {
        width: 50%;
    }

    .section-how-work__descr {
        font-size: 14px;
    }

    .section-info__consultation, .section-info__profi {
        padding-right: 15px;
        background-size: 180px;
    }

    .section-info-right {
        max-height: 1094px;
    }

    .section-info__left {
        max-height: 1094px;
    }
}

@media (max-width: 1210px) {
    .nav__list {
        margin-right: 40px;
    }

    .nav__list-link {
        font-size: 15px;
    }
    
    .btn-more-info {
        padding: 10px 16px;
        font-size: 14px;
        line-height: 10px;
        border: 1px solid #FF9900;
    }

    .section-info__profi, .section-info__consultation {
        padding-left: 250px;
        background-size: 150px;
        padding-right: 15px;
        padding-top: 16px;
    }

    .section-info__attention {
        padding: 0 25px;
    }

    .section-info__attention-text {
        font-size: 14px;
        line-height: 20px;
    }

    .section-info__left {
        max-height: 622px;
    }

    .section-info__right {
        max-height: 622px;
    }

    .section-info__profi {
        max-height: 295px;
    }

    .section-info__header {
        font-size: 16px;
        line-height: 20px;
    }

    .section-info__descr {
        line-height: 15px;
        font-size: 12px;
    }

    .section-how-work__descr {
        line-height: 24px;
        font-size: 10px;
    }

    .footer-list__link {
        font-size: 16px;
    }

    .footer-chek__container {
        font-size: 12px;
    }

    .footer_checkbox:checked+label::after {
        left: 4px;
        top: 5px;
    }

    .social-img {
        width: 40px;
        height: 40px;
      }

}

@media (max-width: 1024px) {
    .burger {
        display: flex;
        margin-left: 50px;
    }

    .nav__logo {
        margin: 26px 0;
        margin-left: 0;
        width: 150px;
        height: 48px;
    }

    .nav__list {
        display: none;
    }

    .nav__container {
        margin-right: 50px;
    }

    .main-container {
        padding: 0 50px;
      }
      
      .section-banner__content {
        max-width: 837px;
      }


    .section-banner__container {
        width: 924px;
        height: 668px;
    }

    .section-banner {
        margin-bottom: 80px;
    }

    .section-banner__content {
        padding-left: 77px;
    }

    .section-banner__heading {
        padding-top: 160px;
        margin-bottom: 16px;
        font-size: 60px;
        line-height: 73px;
    }

    .section-banner__descr {
        margin-bottom: 60px;
        font-size: 20.5px;
        line-height: 23px;
    }

    .section-about-us__header {
        margin-bottom: 10px;
    }

    .section-about-us__descr {
        margin-bottom: 63px;
    }

    .section-info__container {
        flex-direction: column;
    }
    
    .section-info__left {
        margin-bottom: 32px;
        width: 100%;
        min-height: 640px;
    }

    .section-info__attention {
        padding: 0 50px;
    }

    .section-info__attention-text {
        font-size: 16px;
        line-height: 32px;
    }

    .btn-more-info {
        padding: 20px 38px;
        font-size: 16px;
    }

    .section-info__container {
        margin-bottom: 80px;
    }
 
    .section-info__right {
        width: 100%;
        margin-left: 0;
    }

    .section-info__consultation {
        min-height: 295px;
        background-size: 190px;
        background-position: left 77px center;
    }

    .section-info__profi {
        min-height: 295px;
        background-size: 190px;
        background-position: left 77px center;
    }

    .section-info__header {
        margin: 49px 0 14px 68px;
        font-size: 24px;
    }

    .section-info__descr {
        margin-left: 68px;
        font-size: 16px;
        line-height: 32px;
    }

    .section-how-work__heading {
        font-size: 23.5px;
    }

    .section-how-work__container {
        margin-bottom: 80px;
    }

    .section-how-work__list {
        margin-bottom: 50px;
    }

    .section-how-work__item {
        margin-right: 74px;
    }

    .section-how-work__second-block {
        min-height: 701px;
        margin-bottom: 80px;
    }

    .section-how-work__left {
        margin-right: 50px;
    }

    .section-how-work__right {
        margin-top: 15px;
        background-position: center;
        background-image: url(../img/howwework2.jpg);
    }

    .section-how-work__descr {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 23px;
    }

    .section-question__heading {
        margin-bottom: 38px;
    }

    .section-question__list {
        margin-bottom: 80px;
    }

    .section-question-item {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section-question-item .section-question-title {
        padding: 35px 143px 35px 0;
        font-size: 19.7px;
    }

    .section-question-item:nth-child(1) .section-question-title,
    .section-question-item:nth-child(3) .section-question-title {
        padding: 37px 143px 39px 0;
    }

    .section-question-item:nth-child(2) .section-question-title {
        padding: 31px 143px 30px 0;
    }

    .section-question-item:nth-child(4) .section-question-title {
        padding: 31px 143px 29px 0;
    }

    .section-question-item:nth-child(5) .section-question-title {
        padding: 39px 143px 40px 0;
    }

    .footer__logo {
        margin-bottom: 16px;
    }

    .footer__header {
        font-size: 48px;
        margin-top: 48px;
    }

    .footer__in-text {
        margin-bottom: 25px;
    }

    .footer-section__right {
        display: none;
    }

    .footer-section__left {
        width: 241px;
        margin-left: 49px;
        margin-top: 50px;
        margin-right: 133px;
    }

    .footer-section__center {
        width: 541px;
        margin-right: 50px;
    }

    .footer-list__link {
        font-size: 18px;
        white-space: nowrap;
    }

    .footer_social-link__container {
        display: flex;
    }

    .social-img {
        width: 60px;
        height: 60px;
    }

    .footer__btn {
        margin-right: 19px;
        padding: 19px 38px;
        white-space: nowrap;
    }

    .footer-chek__container {
        font-size: 15.7px;
    }

    .footer_checkbox+label {
        white-space: nowrap;
    }

    .footer_checkbox:checked+label::after {
        left: 4px;
        top: 8px;
    }

}

@media (max-width: 768px) {
    .main-container {
        padding: 0 50px;
    }

    .burger {
        display: flex;
        margin-left: 50px;
    }
    .nav__container {
        margin-right: 50px;
    }

    .nav__logo {
        margin: 10px 0;
    }

    .section-banner__container {
        height: 662px;
    }

    .section-banner__container {
        width: 100%;
        background-image: url(../img/768banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .section-banner__content {
        padding-left: 40px;
        padding-right: 40px;
        height: 662px;
    }

    .section-banner__heading {
        padding-top: 160px;
        margin-bottom: 16px;
        font-size: 50px;
        line-height: 61px;
    }

    .section-banner__descr {
        font-size: 18.5px;
        line-height: 23px;
    }

    .section-info__attention {
        padding: 0 40px;
    }
    
    .section-info__consultation, .section-info__profi {
        padding-top: 0;
        padding-left: 170px;
        max-height: 235px;
        background-size: 114px;
        background-position: left 40px center;
    }

    .section-info__profi {
        min-height: 235px;
        background-size: 115px;
        background-position: left 40px center;
    }

    .section-info__left {
        min-height: 650px;
        background-position: center;
    }

    .section-info__attention-text {
        max-width: 369px;
        font-size: 15.9px;
    }
    
    .btn-more-info {
        padding: 24px 35px;
    }

    .section-info__header {
        margin-left: 0;
        margin-top: 35px;
        font-size: 24px;
    }

    .section-info__descr {
        margin-left: 0;
        padding-bottom: 0;
    }

    .section-info__consultation {
        min-height: 237px;
    }

    .section-info__right {
        min-height: auto;
    }

    .section-how-work__main-header {
        margin-bottom: 47px;
    }

    .section-how-work__second-block {
        min-height: 714px;
        flex-direction: column-reverse;
    }

    .section-how-work__right {
        margin-bottom: 38px;
        width: 100%;
        min-height: 284px;
    }

    .section-how-work__left {
        width: 100%;
    }

    .section-how-work__right {
        margin-top: 0;
    }

    .section-how-work__descr {
        margin-bottom: 25px;
    }

    .section-question__heading {
        margin-bottom: 31px;
    }

    .section-question-item .section-question-title {
        padding-right: 90px !important;
        font-weight: 700;
    }

    .section-question-item:not(:first-child) .section-question-title {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .section-how-work__item {
        margin-right: 0;
    }
    .section-how-work__list {
      justify-content: space-between;
    }
    
    .footer-container {
        flex-direction: column-reverse;
        padding: 50px;
    }

    .footer__header {
        margin-top: 0;
    }

    .footer__list {
        display: none;
    }

    .footer-section__left {
        margin-left: 0;
    }

    .footer-logo {
        margin-bottom: 16px;
    }

    .footer__btn {
        margin-right: 22px;
        white-space: nowrap;
    }

    .footer-chek__container label {
        white-space: nowrap;
    }

    .footer_social-link__container {
        margin-bottom: 0;
    }

     .footer-section__center {
         width: 100%;
         padding-right: 127px;
     }
}

@media (max-width: 600px) {
    .section-banner__heading {
        font-size: 35px;
        line-height: 35px;
    }

    .section-banner__btn {
        font-size: 24px;
        padding: 20px 30px;
    }

    .section-info__left {
        width: 100%;
        max-height: 600px;
        min-height: 400px;
    }

    .section-info__attention-text {
        display: none;
    }

    .section-info__attention-text .btn-more-info-element {
        display: none;
    }

    .section-info__container {
        margin-bottom: 60px;
    }

    .section-info__right {
        max-height: unset;
        min-height: auto;
    }
    
    .section-info__consultation, .section-info__profi {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: auto;
        max-height: unset;
    }
    .section-info__header {
        margin-top: 15px;
        font-size: 20px;
    }

    .section-info__descr {
        font-size: 12px;
        line-height: 26px;
    }

    .footer-chek__container label {
        white-space: normal;
    }

    .section-info__attention {
        display: none;
    }

    .section-info__left {
        margin-bottom: 8px;
    }

    .section-info__attention-small {
        display: block;
    }

    .section-info__attention-small-text {
        margin-bottom: 8px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400px;
        font-size: 12px;
        line-height: 28px;
        color: #333333;
    }

    .btn-more-info-element {
        margin-bottom: 32px;
        color: #FF9900;
    }

    .footer__center__evidence {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 450px) {
    .main-container {
        padding: 0 15px;
    }

    .section-info__profi, .section-info__consultation {
        margin-bottom: 0;
        padding-left: 0;
        background-position: top 0px left;
        border: none;
    }

    .section-info__header {
        margin-top: 100px;
    }

    .section-how-work__main-header, .section-about-us__header, .section-question__heading, .footer__header {
        font-size: 24px;
        line-height: 30px;
    }

    .section-how-work__button-container {
        justify-content: space-between;
    }
    
    .section-how-work__button {
        margin-right: 0;
        padding: 11px 44px;
        font-size: 12px;
    }
    .section-how-work__contract__button {
        padding: 11px 30px;
        font-size: 12px;
    }

    .footer-section__center {
        padding-right: 0;
    }
}

@media (max-width: 320px) {
    .burger {
        display: flex;
        margin-left: 15px;
    }

    .nav__container {
        margin-right: 15px;
    }

    .nav__logo {
        margin: 17px 0;
        max-height: 35px;
        width: 110px;
    }

    .section-banner {
       margin-bottom: 60px;
       min-height: auto;
    }

    .section-banner__container {
        width: 290px;
        height: 308px;
        background-image: url(../img/320banner.jpg);
    }

    .section-banner__content {
        padding: 0 15px;
        width: 290px;
        height: 308px;
    }

    .section-banner__heading {
        margin-bottom: 6px;
        padding-top: 60px;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
    }

    .section-banner__descr {
        margin-bottom: 32px;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
    }

    .section-banner__btn {
        display: block;
        margin: 0 auto;
        padding: 13px 25px;
        font-size: 12px;
    }

    .section-about-us__header {
        margin-bottom: 18px;
    }

    .section-about-us__descr {
        margin-bottom: 13px;
        font-size: 14px;
        line-height: 28px;
    }

    .section-info__left {
        min-height: 200px;
        background-size: 100%;
    }

    .section-info__attention-small-text {
        margin-bottom: 13px;
        font-size: 14px;
        line-height: 28px;
    }

    .btn-more-info {
        margin-bottom: 32px;
        padding: 12px 44px;
        font-size: 12px;
    }

    .section-info__header {
        margin-bottom: 7px;
        margin-left: 0;
        font-size: 18px;
        font-weight: normal;
    }

    .section-info__descr {
        margin-left: 0;
        font-size: 14px;
    }

    .section-info__profi {
        margin-top: 22px;
    }

    .section-info__profi, .section-info__consultation {
        background-size: 64px;
    }

    .section-info__container {
        margin-bottom: 49px;
    }

    .section-info__header {
        margin-top: 54px;
    }

    .section-info__descr {
        font-size: 13px;
        line-height: 28px;
    }

    .section-how-work__main-header {
        margin-bottom: 16px;
    }

    .section-how-work__list {
        margin-bottom: 16px;
    }

    .section-how-work__item {
        font-size: 14px;
    }

    .section-how-work__right {
        margin-bottom: 16px;
        min-height: 160px;
        background-size: 100%;
    }

    .section-how-work__heading {
        font-size: 18px;
        font-weight: normal;
        line-height: 32px;
    }

    .section-how-work__descr {
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 28px;
    }

    .section-how-work__container {
        margin-bottom: 55px;
    }

    .section-how-work__contract__button {
        padding: 12px 30px;
        line-height: 16px;
    }

    .section-how-work__second-block {
        margin-bottom: 0;
    }

    .section-question__heading {
        padding-bottom: 0;
        margin-bottom: 16px;
    }

    .section-question__list {
        margin-bottom: 60px;
    }

    .section-question-item {
        background-size: 30px;
    }

    .section-question-item .section-question-title {
        padding: 35px 143px 35px 0 !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        padding-right: 40px !important;
        font-weight: normal;
        font-size: 14.3px;
        line-height: 24px;
    }

    .footer-container {
        padding: 0 14px;
    }

    .footer__header {
        padding-top: 32px;
        margin-bottom: 18px;
    }

    .footer__in-text {
        margin-bottom: 12px;
    }

    .footer-chek__container {
        display: block;
        margin: 0 auto;
    }
    .footer-btn__container {
        display: block;
        margin: 0 auto;
        margin-bottom: 11px;
    }

    .footer__btn {
        margin-right: 0;
        padding: 12px 24px;
        font-size: 12px;
    }

    .footer-section__left {
        margin-top: 16px;
        padding-top: 16px;
        margin-right: 0;
        width: 100%;
        border-top: 1px solid #595959;
    }

    .footer-form__input {
        font-size: 14px;
    }

    .footer__logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
        width: 131px;
    }

    .footer_social-link__container {
        width:152px;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .social-link {
        display: block;
        margin-right: 16px;
    }

    .social-img {
        width: 40px;
        height: 40px;
    }
}